API_ID = 5166878 # Get it by creating an app on https://my.telegram.org
API_HASH = "fdafb41f9a67f40e34a6c67f47730a92" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "5870372680:AAENb7lbqL1oFyP2KCQRD3TJQ8Zr-ro2AE8" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "762308466" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "/newd/" # Download directory where to download files. Must ends with forward slash > / <
